.yakuza {
    --primary-color: #d92533;
    --bg-color: linear-gradient(-45deg,rgba(103,17,41,1) 50%,rgba(26,1,38,1) 100%);
    --text-color: #aaa;
    --heading-color: #d92533;
    --border-color: rgba(0,0,0,0.5);
    --header-bg: linear-gradient(-45deg,rgba(103,17,41,1) 50%,rgba(26,1,38,1) 100%);
}
