.viralata {
  --primary-color: #3beaff;
  --bg-color: white;
  --text-color: #3beaff;
  --link-color: #5df3d3;
  --heading-color: #3beaff;
  --border-color: #f8de8b;
  --header-bg: white;
  --block-bg: transparent;
}