.bee2 {
  --primary-color: #004d00;
  --bg-color: #b2d7d2;
  --text-color: #586069;
  --link-color: #001f3f;
  --heading-color: #001f3f;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}
