.adex {
    --primary-color: #ff4269;
    --bg-color: #29253b;
    --text-color: #bebebe;
    --link-color: #fafafa;
    --heading-color: #fafafa;
    --border-color: #fafafa;
    --header-bg: #29253b;
    --block-bg: #29253b;

    background: radial-gradient( circle, rgb(45, 26, 85) 0%, rgb(6, 7, 13) 93% ) !important;
  
    #topnav {
      border-bottom: 0 !important;
      background-color: transparent !important;
    }
}
