.send {
  --primary-color: #ffffff;
  --bg-color: #bb337f;
  --text-color: #ffffff;
  --link-color: #d8ff00;
  --heading-color: #d8ff00;
  --border-color: #7d9ba1;
  --header-bg: #2f2424;
  --block-bg: transparent;
}