.axie {
  --primary-color: #ff007a;
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --link-color: #565A69;
  --heading-color: #ff007a;
  --border-color: #FF8CC3;
  --header-bg: #FFFFFF;

  --block-bg: transparent;
}
