.s-finance {
  --primary-color: #EB3C00;
  --bg-color: #F7F5EC;
  --text-color: #262626;
  --link-color: #EB3C00;
  --heading-color: #262626;
  --border-color: #EB3C00;
  --header-bg: #F7F5EC;
  --block-bg: transparent;
}
