.your-space {
  --primary-color: #b42fed;
  --bg-color: #121212;
  --text-color: white;
  --link-color: #b42fed;
  --heading-color: #111111;
  --border-color: #b42fed;
  --header-bg: white;
  --block-bg: transparent;
}
