.aitech {
  --primary-color: #ffffff;
  --bg-color: #000000;
  --text-color: #d0d0d0;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #3f07a4;
  --header-bg: #3f07a4;
  --block-bg: transparent;
}