.benchmark {
  --primary-color: #eee107;
  --bg-color: #4eadf5;
  --text-color: white;
  --link-color: white;
  --heading-color: white;
  --border-color: #eee107;
  --header-bg: #4eadf5;
  --block-bg: transparent;

  #topnav {
    border-bottom: 4px solid #eee107 !important;
  }
}
