.artizen {
  --primary-color: #1ACC6C;
  --bg-color: white;
  --text-color: #203030;
  --link-color: #06AA59;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}