.autonio {
    --primary-color: #1A2029;
    --bg-color: #030B14;
    --text-color: #FCFDFF;
    --link-color: #27C29D;
    --heading-color: #FCFDFF;
    --border-color: #1A2029;
    --header-bg: #FCFDFF;
    --block-bg: #1A2029;
  }