.badger {
  --primary-color: #F2A52B;
  --bg-color: #13131B;
  --text-color: #AEAEB1;
  --link-color: #F2A52B;
  --heading-color: #FFFFFF;
  --border-color: #F2A52B;
  --header-bg: #1f1f29;
}

.button--active {
  color: #fff !important;
  background-color: var(--primary-color) !important;
}
