.bamboodefi {
  --primary-color: #7ac949;
  --bg-color: white;
  --text-color: black;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: black;
  --header-bg: white;
  --block-bg: transparent;
}
