.betswirl {
  --primary-color: #5965f1;
  --bg-color: #101420;
  --text-color: #ffffff;
  --link-color: white;
  --heading-color: #fff;
  --border-color: #818cf6;
  --header-bg: #151b2b;
  --block-bg: #151b2b;

  #navbar {
    background-color: #151b2b;
    border: none !important;
  }
}
