.breederdao-space {
  --primary-color: #00e9ba;
  --bg-color: #080b1d;
  --text-color: #ffffff;
  --link-color: #00e9ba;
  --heading-color: #00e9ba;
  --border-color: #1f2959;
  --header-bg: #1f2959;
  --block-bg: transparent;
}
