.breederdao {
  --primary-color: #00E9BA;
  --bg-color: #080B1D;
  --text-color: #FFFFFF;
  --link-color: #FFFFFF;
  --heading-color: #00E9BA;
  --border-color: #1F2959;
  --header-bg: #1F2959;
  --block-bg: transparent;
}
