.calciumcrew {
    --primary-color: #3d3561;
    --bg-color: #0c033a;
    --text-color: #ffffff;
    --link-color: #d8b4fe;
    --heading-color: #0c033a;
    --border-color: #3d3561;
    --header-bg: #0c033a;
    --block-bg: transparent;
}
