.castello-community {
    --primary-color: #277768;
    --bg-color: #15171b;
    --text-color: #8b949e;
    --link-color: #EDC84F;
    --heading-color: #fff;
    --border-color: #2d2d2d;
    --header-bg: #111;
    --block-bg: transparent;
}