.charged-particles {
  --primary-color: #B6004C;
  --bg-color: #161726;
  --text-color: #fff;
  --link-color: #B9C3E8;
  --heading-color: #fff;
  --border-color: #fff;
  --header-bg: #161726;
  --block-bg: #161726;
}
