.deluxe {
  --primary-color: #6435c9;
  --bg-color: #1b1c1d;
  --text-color: #5ee7ff;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #bc13fe;
  --header-bg: white;
  --block-bg: transparent;
}
