.derivadex {
  --primary-color: #ef88aa;
  --bg-color: #182039;
  --text-color: #e2e8f0;
  --link-color: #ef88aa;
  --heading-color: #ffffff;
  --border-color: #e2e8f0;
  --header-bg: #161d33;
}

#topnav {
  border-bottom: 4px solid #ef88aa !important;
}
