.deversifi {
  --primary-color: #5500FC;
  --bg-color: #0A1017;
  --text-color: #586069;
  --link-color: #59D2A9;
  --heading-color: #FFFFFF;
  --border-color: transparent
  --header-bg: #0A1017;
  --block-bg: #0A1017;
}