.dewo {
  --primary-color: #002460;
  --bg-color: white;
  --text-color: #076BDB;
  --link-color: #111111;
  --heading-color: #002460;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}
