.diadata {
    --primary-color: #4F33FF;
    --bg-color: #CCE0F4;
    --text-color: #3A0099;
    --link-color: #FF7096;
    --heading-color: #A0AFEF;
    --border-color: #D1D5DA;
    --header-bg: white;
    --block-bg: transparent; }