.dmc {
  --primary-color: #76EC1F;
  --bg-color: white;
  --text-color: #A5F986;
  --link-color: #FCEB2D;
  --heading-color: #A5F986;
  --border-color: #51C028;
  --header-bg: white;
  --block-bg: transparent;
}
