.emptysetgold {
  --primary-color: #ffcf71;
  --bg-color: #1a1611;
  --text-color: #ffcf71;
  --link-color: #ffcf71;
  --heading-color: #ffcf71;
  --border-color: #1a1611;
  --header-bg: #1a1611;
  --block-bg: transparent;
}
