.example {
  --primary-color: #202336;
  --bg-color: white;
  --text-color: #00ffff;
  --link-color: #508c9c;
  --heading-color: #00ffff;
  --border-color: #000000;
  --header-bg: white;
  --block-bg: transparent;
}
