.fries {
  --primary-color: #e59400;
  --bg-color: #020213;
  --text-color: #3e2905;
  --link-color: #ffb800;
  --heading-color: #ffb800;
  --border-color: #586069;
  --header-bg: #020213;
  --block-bg: transparent;
}
