.gatenet, .gatenet-dark-mode{
  --primary-color: #c550e4;
  --bg-color: #0e1757;
  --text-color: #fff;
  --link-color: #c550e4;
  --heading-color: #FFF;
  --border-color: #e0e0e0;
  --header-bg: #0e1757;
  --block-bg: transparent;
  --shadow-color: #0001;
}
