.gogoprotocol {
  --primary-color: #e56b6f;
  --bg-color: hsl(270deg 15% 18%);
  --text-color: #A5AEBC;
  --link-color: hsl(0deg 0% 100%);
  --heading-color: #e56b6f;
  --border-color: hsl(358deg 19% 66% / 20%);
  --header-bg: #1c1b20;
  --block-bg: transparent;
  --shadow-color: #fff1;
}
