.gokai {
  --primary-color: #9c8655;
  --bg-color: black;
  --text-color: #9c8655;
  --link-color: #8dc76b;
  --heading-color: #f2f1f0;
  --border-color: #9c8655;
  --header-bg: #260101;
  --block-bg: black;
}
