.growthdefi {
  --primary-color: #03ffa9;
  --bg-color: #0f1454;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #03ffa9;
  --header-bg: #03ffa9;
  --block-bg: transparent;
}
