.infinex {
    --primary-color: #FF9B69;
    --bg-color: #05060A;
    --text-color: #C8CDE5;
    --link-color: #FF9B69;
    --heading-color: #C8CDE5;
    --border-color: #2B2D3A;
    --header-bg: #05060A
}
