.itam {
    --primary-color: #f1712a;
    --header-bg: none;
    --bg-color: #f5f3f3;
    --border-color: #e2d6cf;
    --text-color: #4137ac;
    --link-color: #452a7a;
    --heading-color: #452a7a;
  }
  