.kleros {
  --primary-color: #019bfe;
  --bg-color: #4a02af;
  --text-color: #999;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #1f085f;
  --header-bg: #1f085f;
  --block-bg: transparent;
}
