.kleros {
  --primary-color: #4D00B4;
  --bg-color: #ffffff;
  --text-color: #999;
  --link-color: #009AFF;
  --heading-color: #ffffff;
  --border-color: #cccccc;
  --header-bg: #4D00B4;
  --block-bg: transparent;
}
