.kogecoin {
    --primary-color: #41218e;
    --bg-color: #eaeaea;
    --text-color: #ffffff;
    --link-color: #0c6eea;
    --heading-color: #ffffffa4;
    --border-color: #ffffff;
    --header-bg: #fba130;
    --block-bg: #41218e;
  }