.kogecoin {
    --primary-color: #382f46;
    --bg-color: #27272b;
    --text-color: #ffffff;
    --link-color: #0c6eea;
    --heading-color: #ffffffa4;
    --border-color: #ffffff;
    --header-bg: #999999;
    --block-bg: #41218e;
  }