.kuhoge {
    --primary-color: #00AE90;
    --bg-color: #0B0E15;
    --text-color: white;
    --link-color: #00AE90;
    --heading-color: white;
    --border-color: #11141D;
    --header-bg: #0B0E15;
    --block-bg: #0B0E15;
}
