.lakan-interactive {
  --primary-color: #e46b00;
  --bg-color: #101c1c;
  --text-color: #89c0cd;
  --link-color: #31cfed;
  --heading-color: #ffffff;
  --border-color: #285a68;
  --header-bg: #15262c;
  --block-bg: #1e3d49;
  --shadow-color: #0d2424d9;
}
