.mbprotocol {
--primary-color: #25C068;
--bg-color: #D6F2E3;
--text-color: #17AB6C;
--link-color: black;
--heading-color: black;
--border-color: #25C068;
--header-bg: white;
--block-bg: transparent;
}
