.metatopia {
    --primary-color: #733AF0;
    --bg-color: #0D0F1C;
    --text-color: #FFF;
    --link-color: #FFFFFFCC;
    --heading-color: #FFF;
    --border-color: transparent;
    --header-bg: #0D0F1C;
    --block-bg: #0D0F1C;

  .bg-skin-bg {
    background: linear-gradient(180deg, #281242 0%, rgba(116, 24, 64, 0) 100%) !important;
  }
}
