.metatopia {
    --primary-color: #733AF0;
    --bg-color: #160f29;
    --text-color: #FFF;
    --link-color: #FFFFFFCC;
    --heading-color: #FFF;
    --border-color: transparent;
    --header-bg: #0D0F1C;
    --block-bg: #0D0F1C;
}