.metfi-dao {
  --primary-color: #00e2fd;
  --bg-color: #1f202e;
  --text-color: #FFFFFF;
  --link-color: #00e2fd;
  --heading-color: #FFFFFF;
  --border-color: #151620;
  --header-bg: #151620;
  --block-bg: #262738;
}
