.mettalex {
  --primary-color: ##5643CC;
  --bg-color: #5643CC;
  --text-color: #ffffff;
  --link-color: #eeeeee;
  --heading-color: #dddddd;
  --border-color: #d1d5da;
  --header-bg: #5643CC;
  --block-bg: white;
}
