.morpho {
  --primary-color: #3543C2;
  --bg-color: #00011D;
  --text-color: #C0C1CF;
  --link-color: #5B8CFF;
  --heading-color: #EFF0FB;
  --border-color: #191A33;
  --header-bg: transparent;
  --block-bg: transparent;
}
