.morpho {
  --primary-color: #2470ff;
  --bg-color: #141417;
  --text-color: #b0b3bf;
  --link-color: #5792ff;
  --heading-color: #f5f5f7;
  --border-color: #1f2026;
  --header-bg: transparent;
  --block-bg: transparent;
}
