.mutantsdao {
  --primary-color: #161e2e;
  --bg-color: #161e2e;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --heading-color: #fbbf23;
  --border-color: #ffffff;
  --header-bg: #161e2e;
  --block-bg: #161e2e;
}