.based {
    --primary-color: #0046FF;
    --header-bg: #0409fa;
    --bg-color: #ffffff;
    --border-color: #0046FF;
    --text-color: #fff;
    --link-color: #fff;
    --heading-color: #0046FF;
  }
  