.omg {
  --primary-color: #4967ff;
  --bg-color: #eef1ff;
  --text-color: #101010;
  --link-color: #101010;
  --heading-color: #eef1ff;
  --border-color: #dedede;
  --header-bg: #ffffff;
  --block-bg: transparent;
}
