.origingov {
  --primary-color: #0074F0;
  --bg-color: #EDEFF5;
  --text-color: #2E3137;
  --link-color: #0074F0;
  --heading-color: #111111;
  --border-color: #D8DEE5;
  --header-bg: F7F9FF;
  --block-bg: transparent;
}