.planetmemes {
  --primary-color: #6b53f6;
  --bg-color: #15181e;
  --text-color: #fff;
  --link-color: #bcbbbc;
  --heading-color: #bcbbbc;
  --border-color: rgba(215, 215, 216, 0.1);
  --header-bg: #15181e;
  --block-bg: transparent;
}
