.qian {
  --primary-color: #2a62f1;
  --bg-color: #f8fbff;
  --text-color: #9dcafa;
  --link-color: #54a3f6;
  --heading-color: #54a3f6;
  --border-color: #d6a485;
  --header-bg: none;
  --block-bg: transparent;
}
