.radiant {
  --primary-color: #384aff;
  --bg-color: #f1f1f3;
  --text-color: #57606a;
  --link-color: #444444;
  --heading-color: #111111;
  --border-color: rgba(222, 222, 222, 0.8);
  --header-bg: white;
  --block-bg: white;
  --shadow-color: #0001;
}
