.radiant {
  --primary-color: #7159ff;
  --bg-color: #f5f6fa;
  --text-color: #000000;
  --link-color: #50edd1;
  --heading-color: #131313;
  --border-color: rgba(222, 222, 222, 0.8);
  --header-bg: white;
  --block-bg: white;
  --shadow-color: #0001;
}
