.sano {
  --primary-color: #feda00;
  --bg-color: #f8a501;
  --text-color: #f2f2f2;
  --link-color: #f58b01;
  --heading-color: #f2f2f2;
  --border-color: transparent;
  --header-bg: #f2f2f2;
  --block-bg: #f8ac00;
}
