.santiment {
    --primary-color: #14C393;
    --bg-color: #fff;
    --link-color: #14C393;
    --heading-color: #2F354D;
    --border-color: #E7EAF3;
    --text-color: #9FAAC4;
    --header-bg: #F9FAFC;
}

.bg-green .santiment {
    background-color: #14C393!important;
}

.bg-purple .santiment {
    background-color: #8358FF!important;
}

.text-white .santiment {
    color: var(--heading-color)!important;
}
