.shinedao {
    --primary-color: #fada5e;
    --bg-color: 11ee1e;
    --text-color: #ffffff;
    --link-color: #fada5e;
    --heading-color: #ffffff;
    --border-color: #eeeeff;
    --header-bg: 11ee1e;
    --block-bg: transparent;
}
