.swagg {
  --primary-color: #4501FC;
  --bg-color: #0f1011;
  --text-color: #586069;
  --link-color: white;
  --heading-color: white;
  --border-color: #353d45;
  --header-bg: #151617;

  #topnav {
    border-bottom: 1px solid black !important;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg,#943cff,#dd45d3 50%,#fd9d52);
  }
}
