.taraxa {
    --primary-color: #15AC5B;
    --bg-color: #000000;
    --text-color: #FFFFFF;
    --link-color: #48BDFF;
    --heading-color: #31364B;
    --border-color: #6A7085;
    --header-bg: #f7f7f7;
    --block-bg: white;
}
