.taraxa {
    --primary-color: #15AC5B;
    --bg-color: #151823;
    --text-color: #FFFFFF;
    --link-color: #48BDFF;
    --heading-color: #FFFFFF;
    --border-color: #31364B;
    --header-bg: #f7f7f7;
    --block-bg: #1E2231;
}