.thekapitaldao {
    --primary-color: #D6FC00;
    --bg-color: black;
    --text-color: #FAFAFA;
    --link-color: white;
    --heading-color: white;
    --border-color: #AFAFAF;
    --header-bg: black;
    --block-bg: transparent;
}
