.tradersquare {
  --primary-color: #070707;
  --header-bg: none;
  --bg-color: #f5f3f3;
  --border-color: #e2d6cf;
  --text-color: #545557;
  --link-color: #4571B7;
  --heading-color: #4571B7;
}