.treat {
  --primary-color: white;
  --bg-color: #fccdd3;
  --text-color: #e07a88;
  --link-color: #d4668e;
  --heading-color: #fffdf2;
  --border-color: #d4668f;
  --header-bg: white;
  --block-bg: transparent;
}
