.unfederalreserve {
  --primary-color: #004a94;
  --header-bg: #2F53CB;
  --bg-color: rgb(239, 246, 255);
  --border-color: #2F53CB;
  --text-color: #ffffff;
  --link-color: #004a94;
  --heading-color: #042751;
  --block-bg: transparent;
}