.unfederalreserve {
  --primary-color: #610010;
  --header-bg: #2552d0;
  --bg-color: #587bdf;
  --border-color: rgba(255, 0, 0, 0.2);
  --text-color: #002346;
  --link-color: #004a94;
  --heading-color: #28263b;
  --block-bg: transparent;

  #topnav {
    border-bottom: 4px solid black !important;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #004a94, #587bdf);
  }
}
