.example {
  --primary-color: #000000;
  --bg-color: #F2C1F1;
  --text-color: #000000;
  --link-color: #EC9EF4;
  --heading-color: #CB00FF;
  --border-color: #000000;
  --header-bg: #EEAEF2;
  --block-bg: transparent;
}
