.yaxis {
  --primary-color: #d7d7d7;
  --header-bg: #171c24;
  --bg-color: #15202b;
  --link-color: white;
  --heading-color: white;
  --border-color: #2c3036;
  --block-bg: #181c24;
  --text-color: #a7b0bf;
}
