.oaklanddao {
    --primary-color: #384aff;
    --bg-color: #2E537D;
    --text-color: white;
    --link-color: #0FCC0B;
    --heading-color: white;
    --border-color: #d1d5da;
    --header-bg: #3D72AD;
    --block-bg: transparent;
}
