.uni {
  --primary-color: #ff007a;
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --link-color: #ff007a;
  --heading-color: #ff007a;
  --border-color: #FF8CC3;
  --header-bg: #FFFFFF;

  --block-bg: transparent;
}

@media (prefers-color-scheme: dark) {
  .uni {
    --primary-color: #2172E5;
    --bg-color: #212429;
    --text-color: #FFFFFF;
    --link-color: #2172E5;
    --heading-color: #2172E5;
    --border-color: #3680E7;
    --header-bg: #212429;

    --block-bg: transparent;
  }
}
